<div id="genres-list">
  {{#each movie}}
    <article class="movie-titles">
      <a href="#">{{title}}</a>
      <img src="#"/>
      <p>Description
          Title:
          Year:
          Language:
          Review:
      </p>
    </article>
  {{/each}}
</ul>
